/* whole app */
* {
    background: #15133c;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
}

/* header */
header h1 {
    background: white;
    color: #15133c;
    padding: 20px;
    width: 100%;
}
h1, h2 {
    text-align: center;
    padding: 20px;
}
.flex-container {
    display: flex;
    align-content: center;
    justify-content: center;
}
.instructions {
    text-align: center;
    padding: 10px;
}
.instructions p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}
button {
    height: 100px;
    width: 100px;
    font-size: 3rem;
    border-radius: 50%;
    outline: none;
}
#rules {
    background: white;
    color: #5fc5ba;
    border-radius: 0;
    width: auto;
    height: 55px;
    font-size: 2rem;
    padding: 10px;
    margin: 10px;
}
button .fa {
    color: #5fc5ba;
    border: none;
}
.fa:hover {
    color: white;
    font-size: 4rem;
}
.score {
    border: 3px solid white;
    width: 150px;
    margin: auto;
    font-size: 30px;
    text-align: center;
    padding: 10px 20px;
    position: relative;
}

.badge {
    background: #5fc5ba;
    color: black;
    font-size: 15px;
    padding: 2px 10px;
}

#user-label {
    position: absolute;
    top: 15px;
    left: -25px;
}
#comp-label {
    position: absolute;
    top: 15px;
    right:-55px;;
}
